.avatarImage {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.avatarName {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
