.header {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-family: "DM Serif Display", serif;
  font-size: 2em;
}

.headerDot {
  color: DodgerBlue;
}

.headerCenter {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20em;
}

.headerCenterFont {
}
